.user-acc-payment {
  width: 100%;
}

.user-accpay-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  height: 170px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.user-accpay-body {
  padding-right: 15px;
  padding-left: 15px;
}

.col-form-input-accpay-custom {
  width: 100%;
  flex: 1;
}

.col-form-label-accpay-custom {
  color: darkred;
}
